* {
	margin: 0;
	padding: 0;
	outline: none;
}

html, body {
	height: 100%;
}

$font-stack: Helvetica, sans-serif;
$primary-color: #f0f0f0;
$secondary-color: #f5f5f5;

body {
	font: 100% $font-stack;
	background: $primary-color;
	.hero {
		background: $secondary-color;
		text-align: center;
	}
}